<!-- -*- xml -*- -->

<launch>

  <!-- Define ancillary node launch arguments -->
  <arg name="syropod" default="bullet" />
  <arg name="config" default="bullet_insectoid" />
  <arg name="gait" default="gait" />
  <arg name="auto_pose" default="auto_pose" />
  <arg name="control" default="joy" />
  <arg name="rviz" default="true" />
  <arg name="gazebo" default="false" />
  <arg name="plot" default="false" />
  <arg name="reconfigure" default="false" />
  <arg name="logging" default="false" />

  <!-- Set package name -->
  <arg name="package" value="(find $(arg syropod)_syropod)" />

  <!-- Control method (joypad or keyboard)-->
  <node if="$(eval control == 'joy')" pkg="joy" type="joy_node" name="joystick"/>
  <rosparam if="$(eval control == 'key')" file="$(find syropod_keyboard_control)/config/dell_key_map.yaml" command="load"/>
  <node if="$(eval control == 'key')" pkg="syropod_keyboard_control" type="syropod_keyboard_control_node" name="key" output="screen"/>
  <node if="$(eval control == 'rqt')" pkg="syropod_rqt_reconfigure_control" type="syropod_rqt_reconfigure_control" name="rqt" output="screen"/>
  <node if="$(eval control == 'rqt')" pkg="rqt_reconfigure" type="rqt_reconfigure" name="rqt_reconfigure" output="screen"/>

  <!-- Remote Start-->
  <node pkg="syropod_remote" type="syropod_remote" name="syropod_remote" output="screen">
    <param name="publish_rate" value="10"/>
    <param name="imu_sensitivity" value="3"/>
    <param name="invert_compass" value="true"/>
    <param name="invert_imu" value="true"/>
  </node>

  <!-- Highlevel controller related parameters -->
  <rosparam file="$$(arg package)/config/$(arg gait).yaml" command="load"/>
  <rosparam file="$$(arg package)/config/$(arg auto_pose).yaml" command="load"/>
  <rosparam file="$$(arg package)/config/$(arg config).yaml" command="load"/>

  <!-- Highlevel Controller Start -->
  <node name="shc" pkg="syropod_highlevel_controller" type="syropod_highlevel_controller_node" output="screen" />

  <!-- Launch RVIZ with default SHC config -->
  <group if="$(arg rviz)">
    <param name="/syropod/parameters/debug_rviz" value="true"/>
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find syropod_highlevel_controller)/rviz_cfg/SHC_display.rviz"/>
  </group>

  <!-- Launch Gazebo Simulation -->
  <group if="$(arg gazebo)">
    <param name="/syropod/parameters/individual_control_interface" value="true"/>
    <include file="$$(arg package)/launch/$(arg syropod)_gazebo.launch"/>
  </group>

  <!-- Launch ancillary nodes if requested -->
  <node if="$(arg plot)" name="rqt_plot" pkg="rqt_plot" type="rqt_plot"/>
  <node if="$(arg reconfigure)" name="reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure"/>

  <!-- Logging -->
  <group if="$(arg logging)">
    <include file="$$(arg package)/launch/$(arg syropod)_log.launch">
      <arg name="bagfile_name" value="$(arg syropod)" />
      <arg name="path_to_log_directory" value="$(find package)/logs"/>
      <arg name="record_highlevel" value="true" />
    </include>
  </group>

</launch>
